
.entete{
    border: 2px solid;
    margin-bottom: 10px;
    background-image: url("./images/senegal.gif") ;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    box-shadow: 0px 2px 2px 2px ;
    height: 100px;
}
.enteteslide{
    border: 2px solid;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    box-shadow: 0px 2px 2px 2px ;
    height: 300px;
    position: relative;
    
}

.fieldsetcontent{
    display: inline-block;
    width: 71%;
    border: 2px solid;
    border-radius: 15px 15px 15px 15px;
}

.content{
    margin-bottom: 10px;
    margin: 10px 10px 10px 10px;
    position: relative;
    display: inline-block;
    width:46%;

}
.contentgeo{
    float:left;
    margin-left: 20px;
    width:25%;
    margin-top: 10px;
}
