<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; ">
  <app-todo-list></app-todo-list>
  <!--<h1 >
    {{ title }}!
  </h1>
  <div class="entete">
    <marquee><app-menu-app-senegal></app-menu-app-senegal></marquee>
  </div>
  <div class="enteteslide" >
    <app-senegal-slider></app-senegal-slider>
  </div>
  <div class="contentgeo">
    <app-senegal-geographie></app-senegal-geographie>
  </div>
  <fieldset class="fieldsetcontent">
  <div class="content">
    <app-senegal-culture></app-senegal-culture>
  </div>
  <div class="content">
    <app-senegal-economie></app-senegal-economie>
  </div>
  
  <div class="content">
  <app-senegal-histoire></app-senegal-histoire>
  </div>
  <div class="content">
    <app-senegal-politique></app-senegal-politique>
  </div>
</fieldset>-->
</div>
